<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-sm-9">
    <div class="title">
      <h2><i class="fas fa-user-tie icon-color-blue"></i>従業員新規登録</h2>
    </div>

    <%= form_with model: @employee, url: employees_path, local: true do |f| %>
      <div class="row">
        <%= f.label :name, "名前" %>
        <%= render 'shared/error_message', object: f.object, column: :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control mb-3" %>
      </div>
      <div class="row">
        <%= f.label :name, "Eメール" %>
        <%= render 'shared/error_message', object: f.object, column: :email %>
        <%= f.email_field :email, class: "form-control mb-3" %>
      </div>
      <div class="row">
        <%= f.label :password, "パスワード" %>
        <%= render 'shared/error_message', object: f.object, column: :password %>
        <%= f.password_field :password, class: "form-control mb-3" %>
      </div>
      <div class="row">
        <%= f.label :password_confirmation, "再確認パスワード" %>
        <%= render 'shared/error_message', object: f.object, column: :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control mb-3" %>
      </div>
      <div class="row"><%= f.label :image, "画像" %></div>
      <div class="row"><%= f.attachment_field :image,class: "mb-3" %></div>
      <div class="row">
        <%= f.label :department, "部署名" %>
        <%= render 'shared/error_message', object: f.object, column: :department %>
        <%= f.text_field :department, class: "form-control mb-3" %>
      </div>
      <div class="row">
        <%= f.label :joining_date, "入社日" %>
        <%= render 'shared/error_message', object: f.object, column: :joining_date %>
      </div>
      <div class="row">
        <%= f.date_select :joining_date,{ use_month_numbers: true, start_year: 1950, end_year: Time.now.year, prompt:"--"},
                                        {class: "form-control mb-3", style: 'display: inline-block;width: auto;'} %>
      </div>
      <div class="row">
        <%= f.submit "登録", class: "btn-blue" %>
      </div>
    <% end %>
  </div>
</div>