<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-sm-9">
    <div class="title">
      <h2><i class="far fa-calendar-alt icon-color-blue"></i>スケジュール詳細</h2>
    </div>
    <div id="schedule_post">
      <%= render 'shared/schedule_post', schedule: @schedule, cuurent_employee: current_employee %>
    </div>

    <div id="comments">
      <%= render 'shared/comments_view', schedule: @schedule, cuurent_employee: current_employee %>
    </div>

    <div class="new-comment">
      <%= form_with(model: @scheduleComment, url: schedule_schedule_comments_path(@schedule)) do |f| %>
        <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control", id: "comment_text_area" %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>