<p>導入を検討される方は下記問い合わせフォームまでご連絡ください</p>
<%= form_with model: contact, local: true do |f| %>
  <div class="row">
    <div class="col-12">
      <%= f.label :company_name, "企業名" %>
      <%= render 'shared/error_message', object: f.object, column: :company_name %>
      <%= f.text_field :company_name, class: "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.label :responsible_name, "担当者名" %>
      <%= render 'shared/error_message', object: f.object, column: :responsible_name %>
      <%= f.text_field :responsible_name, class: "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.label :email, "Eメール" %>
      <%= render 'shared/error_message', object: f.object, column: :email %>
      <%= f.email_field :email, class: "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.label :phone_number, "電話番号（ハイフン無し）" %>
      <%= render 'shared/error_message', object: f.object, column: :phone_number %>
      <%= f.text_field :phone_number, class: "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.label :message, "内容" %>
      <%= render 'shared/error_message', object: f.object, column: :message %>
      <%= f.text_area :message, class: "form-control mb-5" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.submit "送信", class: "btn-blue" %>
    </div>
  </div>
<% end %>