<div class="row">
  <div class="col-12">
    <%= image_tag 'top_title.png', class: "home-img-title" %>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <p class="text-center" style="font-size:30px;">在宅勤務を導入したことにより、こんな事でお困りではないですか？</p>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card h-100">
      <%= image_tag 'top_card1.png', class: "bd-placeholder-img card-img-top" %>
      <div class="card-body">
        <p class="card-text">従業員同士が会うことが少なくなり、コミュニケーションが取れず、関係性の構築が難しい。</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card h-100">
      <%= image_tag 'top_card1.png', class: "bd-placeholder-img card-img-top" %>
      <div class="card-body">
        <p class="card-text">部下が現在業務についているのかが把握しにくい。 また、電話などで確認をする場合、時間がかかる上に、部下が過度な管理をされていると感じてしまう可能性がある。</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 offset-sm-3 offset-md-0">
    <div class="card h-100">
      <%= image_tag 'top_card1.png', class: "bd-placeholder-img card-img-top" %>
      <div class="card-body">
        <p class="card-text">先輩社員が日々どのような動きをとっているかが把握できないため、キャリアプラン構築の妨げになっている。</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 px-sm-0 mx-auto">
    <%= render 'public/homes/contact_form', contact: @contact%>
  </div>
</div>

