<div class="schedule-block">
<%= link_to "", schedule_path(schedule), class: "link", id: "schedule-post-#{schedule.id}" %>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-3 text-center">
      <%= link_to employee_path(schedule.employee) do %>
        <%= attachment_image_tag schedule.employee, :image, format: "jpeg",
            fallback: "no_image.jpeg", class: "schedule-image link-z"%>
      <% end %>
      <% if admin_employee_login? || schedule.employee == cuurent_employee %>
        <% if schedule.schedule_status == "質問中" %>
          <p>
            <%= link_to "", schedule_status_path(schedule),
                class: "fas fa-question icon-color-red icon-size-15 link-z", method: :patch %>
          </p>
        <% elsif schedule.schedule_status == "解決済質問" %>
          <p>
            <%= link_to "", schedule_status_path(schedule),
                class: "fas fa-lightbulb icon-color-orange icon-size-15 link-z", method: :patch %>
          </p>
        <% end %>
        <p>
          <%= link_to "", edit_schedule_path(schedule), class: "fas fa-edit mb-3 link-z" %>
          <%= link_to "", schedule_path(schedule), class: "fas fa-trash-alt mb-3 link-z",
                          method: :delete, data: { confirm: '削除しますか？' } %>
        </p>
      <% else %>
        <% if schedule.schedule_status == "質問中" %>
          <p>
            <i class="fas fa-question icon-color-red icon-size-15 mb-3"></i>
          </p>
        <% elsif schedule.schedule_status == "解決済質問" %>
          <p>
            <i class="fas fa-lightbulb icon-color-orange icon-size-15 mb-3"></i>
          </p>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-9 col-sm-8 col-9">
      <p class="schdule-text"><%= schedule.start_and_end_time %></p>
      <p class="schdule-text"><%= schedule.employee.name %></p>
      <h4 class="schdule-text mb-2"><%= schedule.title %></h4>
      <p class="schdule-text"><%= simple_format(h(schedule.content)) %></p>
      <% unless schedule.question.blank? %>
        <div class="schedule-question-block-<%= schedule.css_name %> mb-3 p-2">
          <u class="schdule-text"><%= schedule.schedule_status %></u>
          <p class="schdule-text"><%= simple_format(h(schedule.question)) %></p>
        </div>
      <% end %>

      <span id="favorite_<%= schedule.id %>">
        <%= render 'shared/favorite_button', current_employee: current_employee, schedule: schedule %>
      </span>

      <i class="fas fa-comment pr-1 icon-color-blue"></i>
      <span class="text-blue" id="comment_count"><%= schedule.schedule_comments.size %></span>

    </div>
  </div>
</div>