<nav class="col-sm-3">
  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item"><%= link_to 'ホーム', schedules_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to 'カレンダー', "#", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to '質問一覧', questions_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to '返信一覧', replies_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to '検索', searches_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to 'グループ作成', new_group_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>