<p>問い合わせあり</p>
<p>会社名：<%= @contact.company_name %></p>
<p>担当者名：<%= @contact.responsible_name %></p>
<p>Eメール：<%= @contact.email %></p>
<p>電話番号：<%= @contact.phone_number %></p>
<p>内容：<%= @contact.message %></p>


