<!DOCTYPE html>
<html>
  <head>
    <title>ポスケ！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
  </head>

  <body id="bodyid" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>">
          <%= sanitize value, tags: %w(br) %>
        </p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
