<!DOCTYPE html>
<html>
  <head>
    <title>ポスケ！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
  </head>

  <body id="bodyid" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'layouts/header' %>
    <div class="container">
      <div id="flash_message">
        <%= render 'layouts/flash_message', flash: flash %>
      </div>
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
